body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2004px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:715px;
}
#u3049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:715px;
}
#u3049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1402px;
  height:361px;
}
#u3050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:715px;
  width:1402px;
  height:361px;
}
#u3050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u3051 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:1373px;
  width:51px;
  height:31px;
}
#u3051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:46px;
}
#u3052 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:1015px;
  width:79px;
  height:46px;
}
#u3052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3053 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:1041px;
  width:158px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u3054 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:1043px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3054_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3054_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3055 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:1043px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3055_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3055_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:236px;
}
#u3056 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:1094px;
  width:454px;
  height:236px;
}
#u3056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3057 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:1102px;
  width:60px;
  height:30px;
}
#u3057_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  word-wrap:break-word;
}
#u3058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3059_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:34px;
}
#u3059 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:1103px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u3059_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u3060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u3060 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:1115px;
  width:7px;
  height:7px;
  color:#FFFFFF;
}
#u3060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u3061 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:1115px;
  width:7px;
  height:7px;
  color:#FFFFFF;
}
#u3061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3062 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:1117px;
  width:30px;
  height:3px;
}
#u3062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3064 {
  border-width:0px;
  position:absolute;
  left:1509px;
  top:895px;
  width:30px;
  height:30px;
  color:#FFFFFF;
  line-height:36px;
}
#u3064_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  word-wrap:break-word;
}
#u3065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:112px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u3065 {
  border-width:0px;
  position:absolute;
  left:1533px;
  top:938px;
  width:471px;
  height:112px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u3065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
}
#u3066 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:899px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#666666;
}
#u3066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u3067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u3067 {
  border-width:0px;
  position:absolute;
  left:1542px;
  top:938px;
  width:453px;
  height:112px;
  line-height:28px;
}
#u3067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  word-wrap:break-word;
}
