body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1656px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:522px;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:522px;
}
#u2163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:33px;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:67px;
  width:105px;
  height:33px;
}
#u2164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:76px;
  width:57px;
  height:20px;
}
#u2165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:108px;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:58px;
  width:184px;
  height:108px;
}
#u2166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:644px;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:58px;
  width:1079px;
  height:644px;
}
#u2167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:477px;
  width:30px;
  height:30px;
  color:#FFFFFF;
  line-height:36px;
}
#u2169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  word-wrap:break-word;
}
#u2170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:112px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:520px;
  width:471px;
  height:112px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u2170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:481px;
  width:109px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:1194px;
  top:520px;
  width:446px;
  height:112px;
  line-height:28px;
}
#u2172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  word-wrap:break-word;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2174_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:34px;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:479px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u2174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:491px;
  width:7px;
  height:7px;
  color:#FFFFFF;
}
#u2175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:491px;
  width:7px;
  height:7px;
  color:#FFFFFF;
}
#u2176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:1024px;
  top:493px;
  width:30px;
  height:3px;
}
#u2177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:73px;
  width:127px;
  height:22px;
  font-size:18px;
}
#u2178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:10px;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:33px;
  width:181px;
  height:10px;
}
#u2179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:15px;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:43px;
  width:181px;
  height:15px;
}
#u2180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:375px;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:122px;
  width:965px;
  height:375px;
}
#u2181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:62px;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:433px;
  width:171px;
  height:62px;
}
#u2182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:441px;
  width:57px;
  height:20px;
}
#u2183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:471px;
  width:100px;
  height:18px;
}
#u2184_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2184_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:471px;
  width:100px;
  height:16px;
}
#u2185_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2185_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:471px;
  width:100px;
  height:16px;
}
#u2186_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2186_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:471px;
  width:100px;
  height:16px;
}
#u2187_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2187_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:441px;
  width:100px;
  height:18px;
}
#u2188_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2188_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:441px;
  width:100px;
  height:18px;
}
#u2189_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2189_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:471px;
  width:100px;
  height:16px;
}
#u2190_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2190_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:471px;
  width:100px;
  height:16px;
}
#u2191_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2191_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:507px;
  width:100px;
  height:16px;
}
#u2192_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2192_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:507px;
  width:100px;
  height:16px;
}
#u2193_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2193_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:507px;
  width:100px;
  height:16px;
}
#u2194_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2194_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:507px;
  width:100px;
  height:16px;
}
#u2195_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2195_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:507px;
  width:100px;
  height:16px;
}
#u2196_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2196_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:507px;
  width:100px;
  height:16px;
}
#u2197_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2197_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:548px;
  width:100px;
  height:16px;
}
#u2198_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2198_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:548px;
  width:100px;
  height:16px;
}
#u2199_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2199_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:548px;
  width:100px;
  height:16px;
}
#u2200_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2200_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:548px;
  width:100px;
  height:16px;
}
#u2201_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2201_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:548px;
  width:100px;
  height:16px;
}
#u2202_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2202_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:548px;
  width:100px;
  height:16px;
}
#u2203_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2203_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:130px;
  width:57px;
  height:16px;
}
#u2204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:375px;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:586px;
  width:965px;
  height:375px;
}
#u2205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:62px;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:897px;
  width:171px;
  height:62px;
}
#u2206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:905px;
  width:57px;
  height:20px;
}
#u2207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:935px;
  width:100px;
  height:18px;
}
#u2208_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2208_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:935px;
  width:100px;
  height:16px;
}
#u2209_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2209_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:935px;
  width:100px;
  height:16px;
}
#u2210_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2210_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:935px;
  width:100px;
  height:16px;
}
#u2211_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2211_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:905px;
  width:100px;
  height:18px;
}
#u2212_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2212_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:905px;
  width:100px;
  height:18px;
}
#u2213_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2213_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:935px;
  width:100px;
  height:16px;
}
#u2214_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2214_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:935px;
  width:100px;
  height:16px;
}
#u2215_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2215_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:971px;
  width:100px;
  height:16px;
}
#u2216_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2216_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:971px;
  width:100px;
  height:16px;
}
#u2217_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2217_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:971px;
  width:100px;
  height:16px;
}
#u2218_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2218_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:971px;
  width:100px;
  height:16px;
}
#u2219_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2219_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:971px;
  width:100px;
  height:16px;
}
#u2220_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2220_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:971px;
  width:100px;
  height:16px;
}
#u2221_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2221_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:1012px;
  width:100px;
  height:16px;
}
#u2222_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2222_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:1012px;
  width:100px;
  height:16px;
}
#u2223_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2223_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1012px;
  width:100px;
  height:16px;
}
#u2224_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2224_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:1012px;
  width:100px;
  height:16px;
}
#u2225_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2225_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:1012px;
  width:100px;
  height:16px;
}
#u2226_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2226_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:1012px;
  width:100px;
  height:16px;
}
#u2227_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2227_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:594px;
  width:71px;
  height:16px;
}
#u2228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:56px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:618px;
  width:315px;
  height:56px;
}
#u2229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:122px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:737px;
  width:315px;
  height:122px;
}
#u2230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2232_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:34px;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:783px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u2232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:795px;
  width:7px;
  height:7px;
  color:#FFFFFF;
}
#u2233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:795px;
  width:7px;
  height:7px;
  color:#FFFFFF;
}
#u2234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:1024px;
  top:797px;
  width:30px;
  height:3px;
}
#u2235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:786px;
  width:30px;
  height:30px;
  color:#FFFFFF;
  line-height:36px;
}
#u2237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:26px;
  word-wrap:break-word;
}
#u2238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:112px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:829px;
  width:471px;
  height:112px;
  color:#666666;
  text-align:left;
  line-height:28px;
}
#u2238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:790px;
  width:127px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:829px;
  width:446px;
  height:112px;
  line-height:28px;
}
#u2240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  word-wrap:break-word;
}
#u2241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:122px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:674px;
  width:315px;
  height:122px;
}
#u2241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:684px;
  width:100px;
  height:18px;
}
#u2242_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2242_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:717px;
  width:100px;
  height:18px;
}
#u2243_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2243_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
